---
import Button from "./Button.astro";
import introMobile from "../assets/images/image-intro-mobile.jpg";
import introDesktop from "../assets/images/image-intro-desktop.jpg";
---

<section>
  <picture>
    <source media="(min-width: 425px)" srcset={introDesktop.src} />
    <img src={introMobile.src} alt="A happy insured family" />
  </picture>

  <div>
    <div class="container">
      <h1>Humanizing your insurance.</h1>

      <p>
        Get your life insurance coverage easier and faster. We blend our
        expertise and technology to help you find the plan that’s right for you.
        Ensure you and your loved ones are protected.
      </p>

      <Button>View plans</Button>
    </div>
  </div>

  <div>
    <hr />
  </div>
</section>

<style>
  section {
    position: relative;
    background-color: var(--color-dark-violet);
  }

  section::after {
    position: absolute;
    content: "";
    bottom: 0;
    width: 100%;
    height: 330px;
    background-image: url("../assets/images/bg-pattern-intro-right-mobile.svg");
    background-repeat: no-repeat;
    background-position: right 0% bottom 0%;
  }

  section > div:first-of-type {
    position: relative;
    padding-top: 6rem;
    padding-bottom: 5rem;
    color: var(--color-light-gray);
    text-align: center;
  }

  section > div:first-of-type::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 165px;
    background-image: url("../assets/images/bg-pattern-intro-left-mobile.svg");
    background-repeat: no-repeat;
  }

  section > div:last-of-type {
    padding-top: 8rem;
    padding-bottom: 3rem;
    background-color: white;
  }

  h1 {
    position: relative;
    margin-bottom: 1rem;
    font-weight: var(--font-weight-regular);
    z-index: 10;
  }

  p {
    margin-bottom: 2rem;
    line-height: 1.5;
    letter-spacing: 0.25px;
  }

  hr {
    width: 40%;
    margin: 0 auto;
    border: 0;
    border-top: 1px solid var(--color-dark-violet);
  }

  @media only screen and (min-width: 768px) {
    section {
      display: grid;
      grid-template-rows: 5rem auto 5rem 5rem;
      grid-template-columns: 6.25% 1fr 1fr 6.25%;
    }

    section::after {
      background-image: none;
    }

    section > div:first-of-type {
      text-align: left;
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end: 3;
      padding-top: 0rem;
      padding-bottom: 2rem;
    }

    section > div:first-of-type > div {
      margin: 0;
    }

    section > div:first-of-type::before {
      background-image: none;
    }

    section > div:last-of-type {
      background-color: white;
      grid-row-start: 3;
      grid-row-end: 4;
      grid-column-start: 1;
      grid-column-end: 5;
    }

    picture {
      display: inline;
      grid-column-start: 3;
      grid-column-end: 4;
      grid-row-start: 2;
      grid-row-end: 4;
      z-index: 10;
    }

    hr {
      width: 12.5rem;
      margin: 0;
      margin-left: 6.25%;
    }
  }

  @media only screen and (min-width: 944px) {
    section::before {
      position: absolute;
      content: "";
      right: 0;
      top: 0;
      background-image: url("../assets/images/bg-pattern-intro-right-desktop.svg");
      background-size: contain;
      width: 436px;
      height: 593px;
    }

    section > div:first-of-type {
      padding-top: 4rem;
    }

    section > div:first-of-type::before {
      content: "";
      top: 0;
      left: 0;
      width: 12.5rem;
      height: 2px;
      background-color: var(--color-light-gray);
    }
  }

  @media only screen and (min-width: 1100px) {
    section {
      grid-template-columns: 1fr 30rem 30rem 1fr;
    }

    section::after {
      background-image: url("../assets/images/bg-pattern-intro-left-desktop.svg");
      background-size: contain;
      width: 195px;
      height: 504px;
    }

    hr {
      margin-left: calc((100% - 60rem) / 2);
    }
  }
</style>
