---
import logo from "../assets/images/logo.svg";
import close from "../assets/images/icon-close.svg";
import hamburger from "../assets/images/icon-hamburger.svg";
---

<nav class="container">
  <figure>
    <img src={logo.src} alt="Brand Logo" />
  </figure>

  <div>
    <input type="checkbox" id="menuToggle" />
    <label for="menuToggle">
      <figure>
        <img src={close.src} alt="Close" />
      </figure>
      <figure>
        <img src={hamburger.src} alt="Open" />
      </figure>
    </label>

    <ul>
      <li>How we work</li>
      <li>Blog</li>
      <li>Account</li>
      <li>View plans</li>
    </ul>
  </div>
</nav>

<style>
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
  }

  div {
  }

  input,
  ul,
  img[alt="Close"] {
    display: none;
  }

  @media only screen and (min-width: 768px) {
    label {
      display: none;
    }
  }

  input:checked + label img[alt="Open"] {
    display: none;
  }

  input:checked + label img[alt="Close"] {
    display: block;
  }

  input:checked ~ ul {
    display: block;
  }

  ul {
    position: absolute;
    top: 5rem;
    left: 0;
    width: 100%;
    min-height: 92vh;
    color: var(--color-light-gray);
    background-color: var(--color-darker-violet);
    font-family: var(--font-body);
    font-weight: var(--font-weight-bold);
    text-transform: uppercase;
    background-image: url("../assets/images/bg-pattern-mobile-nav.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left 0% bottom 0%;
    z-index: 20;
  }

  @media only screen and (min-width: 768px) {
    ul {
      display: flex;
      position: relative;
      background-color: inherit;
      background-image: none;
      min-height: auto;
      color: var(--color-darker-violet);
      top: 0;
      gap: 2rem;
    }
  }

  ul > li {
    text-align: center;
    font-size: 1.25rem;
    letter-spacing: 1.5px;
  }

  ul > li:first-child {
    padding-top: 3rem;
  }

  ul > li:not(:first-child) {
    margin-top: 2.5rem;
  }

  @media only screen and (min-width: 768px) {
    ul > li {
      font-size: 1rem;
    }

    ul > li:first-child {
      padding-top: 0;
    }

    ul > li:not(:first-child) {
      margin-top: 0;
    }
  }
</style>
