---
import logo from "../assets/images/logo.svg";
import close from "../assets/images/icon-close.svg";
import hamburger from "../assets/images/icon-hamburger.svg";
---

<nav>
  <div class="container">
    <figure>
      <img src={logo.src} alt="Brand Logo" />
    </figure>

    <input type="checkbox" id="menuToggle" />
    <label for="menuToggle">
      <figure>
        <img src={close.src} alt="Close" />
      </figure>
      <figure>
        <img src={hamburger.src} alt="Open" />
      </figure>
    </label>
  </div>

  <div>
    <ul>
      <li>How we work</li>
      <li>Blog</li>
      <li>Account</li>
      <li>View plans</li>
    </ul>
  </div>
</nav>

<style>
  div:first-of-type {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  input,
  ul,
  img[alt="Close"] {
    display: none;
  }

  div:last-of-type {
    position: relative;
  }

  input:checked + label img[alt="Open"] {
    display: none;
  }

  input:checked + label img[alt="Close"] {
    display: block;
  }

  div:first-of-type:has(input:checked) ~ div:last-of-type > ul {
    display: block;
  }

  ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 92vh;
    color: var(--color-light-gray);
    background-color: var(--color-darker-violet);
    font-family: var(--font-body);
    font-weight: var(--font-weight-bold);
    text-transform: uppercase;
    background-image: url("../assets/images/bg-pattern-mobile-nav.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left 0% bottom 0%;
    z-index: 20;
  }

  ul > li {
    text-align: center;
    font-size: 1.25rem;
    letter-spacing: 1.5px;
  }

  ul > li:first-child {
    padding-top: 3rem;
  }

  ul > li:not(:first-child) {
    margin-top: 2.5rem;
  }
</style>
