---
import { getCollection } from "astro:content";
import Point from "./Point.astro";

const allPoints = await getCollection("usp");
---

<div class="container">
  <h1>We’re different</h1>

  <ul>
    {
      allPoints
        .sort((a, b) => a.data.rank - b.data.rank)
        .map((point) => {
          return <Point {...point} />;
        })
    }
  </ul>
</div>

<style>
  h1 {
    text-align: center;
    margin-bottom: 5rem;
  }
</style>
