@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap");

:root {
  --color-dark-violet: hsl(256, 26%, 20%);
  --color-grayish-blue: hsl(216, 30%, 68%);
  --color-darker-violet: hsl(270, 9%, 17%);
  --color-grayish-violet: hsl(273, 4%, 51%);
  --color-light-gray: hsl(0, 0%, 98%);

  --font-headings: "DM Serif Display", serif;
  --font-body: "Karla", sans-serif;

  --font-weight-bold: 700;
  --font-weight-regular: 400;

  --font-size: 100%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-size: var(--font-size);
  font-family: var(--font-body);
}

a {
  display: block;
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
}

ul {
  list-style: none;
}

h1,
h2,
h3 {
  font-family: var(--font-headings);
}

h1 {
  font-size: 2.925rem;
  line-height: 1;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  margin-bottom: 2rem;
  color: hsl(0, 0%, 60%);
}

.container {
  width: 87.5%;
  margin: 0 auto;
}
